.flash {
  padding: 16px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ffefea;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  margin: 37px 0px 0px 0px;
}

.flash-danger {
  border: 2px solid #A34728;
}
